
<div class="panel panel-default" style="background-color:transparent; border:0px;">
    <style>
        body {
            background: url(768_768.png) no-repeat center center fixed;
            background-size: cover;
            height: 100%;
            margin: 2px;
            border: 0px;
        }
    </style>
    <div class="container-fluid bg-2 text-center">
        <div class="row" style="background:Transparent">

            <div class="col-md-12" style="height:300px">
                <br>
            </div>

            <div class="col-md-12" style="background:Transparent">
                <img src="WordMark.png" style="width:512px ; height:166px"/> 
            </div>

            <div class="col-md-12" style="background:Transparent; height:30px;">
                <input type="text" name="userName" value='Username'
                       onblur="if (this.value == '') {this.value = 'Username';}"
                       onfocus="if (this.value == 'Username') {this.value = '';}" />
            </div>

            <div class="col-md-12" style="background:Transparent; height:30px;">
                <input type="password" name="passwordName" value='Password'
                       onblur="if (this.value == '') {this.value = 'Password';}"
                       onfocus="if (this.value == 'Password') {this.value = '';}" />
            </div>

            <div class="col-md-12" style="text-align:center; height:30px;">
                <button type="button" class="button-1" onclick="href='~/Counter'; ">Log In </button>
            </div>

            <div class="col-md-12" style="text-align:center">
                <button type="button" class="button-1" >Register</button>
            </div>

            <div class="col-md-12" style="text-align:center">
                <button type="button" class="btn" style="background:transparent; color:White;  border:0px; width:80px;">Help</button>
            </div>

            <div class="col-md-12" style="text-align:center">
                <button type="button" class="btn" style="background:transparent; color:White;  border:0px; width:80px;">Contact us</button>
            </div>

            <div class="col-md-12">
                <br>
            </div>

            <div class="col-md-12">
                <br>
            </div>

            <div class="col-md-12">
                <br>
            </div>

        </div>

    </div>
</div>