<div class='row'>
    <div class='col-sm-3'>
        <nav-menu />
    </div>
    <div class='col-sm-9'>
        <div class="container-fluid" style="background:url('Mani_kontroldarbi.png') no-repeat; height:1080px  "> </div>
    </div>
</div>
