@TagName("nav-menu")
<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>

            <a href='~/TaskCreator' class="button-1" role="button" style="width:90px; height:90px; border-radius:45px; background-image:url(C:\Users\Dainis\Documents\GitHub\Blazor-3\samples\ClientServerApp\ClientServerApp.Client\wwwroot\Picture2.png)">
            </a>

            <a href='~/TaskCreator'>
                <p> <font color="white"> Dan Smith </font>  </p>
            </a>
           
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li>
                    <a href='~/TestCreator'>
                        <span class='glyphicon glyphicon-home'></span> Test creator
                    </a>
                </li>
                <li>
                    <a href='~/TaskCreator'>
                        <span class='glyphicon glyphicon-education'></span> Task creator
                    </a>
                </li>
                <li>
                    <a href='~/MyTests'>
                        <span class='glyphicon glyphicon-th-list'></span> My tests
                    </a>
                </li>
                <li>
                    <a href='~/Help'>
                        <span class='glyphicon glyphicon-random'></span> Help
                    </a>
                </li>
                <li>
                    <a href='~/LogOff'>
                        <span class='glyphicon glyphicon-list-alt'></span> LogOff
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
